<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <script src="https://d3js.org/d3.v7.js" charset="utf-8"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <title>Lakeside Course Statistics</title>
</head>
<body id="indexBG">
  <div id="indexDiv">
    <h1 style="font-size:50px">Lakeside Course Statistics</h1>
    <button onclick="window.location.href='/summer'" id = "getStarted">Get Started</button>
  </div>
  <!--nav bar-->
  <div id="topnav">
    <form method="GET" action="item">
        <ul>
            <li id="home"><a href=".">Home</a></li>
            <li><a href="/summer">Summer School</a></li>
            <li><a href="/academic">Academic Year</a></li>
        </ul>
      </form>
  </div>

</body>
</html>